/* styles.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.game-container {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #0056b3;
}

#result {
  font-size: 18px;
  margin: 20px 0;
}

#lightbulbIcon {
  position: absolute; /* Allows precise positioning */
  top: 10px; /* Adjust the distance from the top edge */
  right: 10px; /* Adjust the distance from the right edge */
  font-size: 30px; /* Font size for the icon */
}
#result {
  font-size: 18px;
  color: rgb(7, 26, 80);
}
